<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="serverIp" value="127.0.0.1" />
		<add key="serverPort" value="5000" />

		<!-- Client networking settings -->
		<add key="connectTimeoutMs" value="5000" />
		<add key="ioTimeoutMs" value="30000" />
	</appSettings>
</configuration>
