<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="serverPort" value="5000" />
		<add key="gameDataDirectory" value="GameData" />
		<add key="gameDurationSeconds" value="120" />
		<add key="basePointsPerWord" value="100" />
		<add key="timeBonusMultiplier" value="2" />
	</appSettings>
</configuration>