<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Network Configuration -->
		<add key="ServerIP" value="127.0.0.1" />
		<add key="ServerPort" value="5000" />

		<!-- Game Data -->
		<add key="GameDataFile" value="game.txt" />

		<!-- Game Settings -->
		<add key="GameDurationSeconds" value="120" />
		<add key="BasePointsPerWord" value="100" />
		<add key="TimeBonusMultiplier" value="2" />
		<add key="MaxGuesses" value="20" />
		<add key="WrongGuessPenalty" value="10" />
	</appSettings>
</configuration>